/* Define your theme modifications inside next mixin */
@mixin com_audimex_dashboard-halo-ext {
    .amxd-shadow-border {
        box-shadow: inset 0 0 10px #e0e0e0;
        border: 2px solid transparent;
    }

    .amxd-dashboard-button {
        background: none;
        border: 2px dashed #b5b5b5;
        color: #4e4e4e;
        border-radius: 4px;
        text-align: left;
        font-size: 24px;
        box-shadow: none;
        margin-bottom: 5px;
    }

    .amxd-dashboard-button:after {
        border: none;
    }

    .amxd-dashboard-button .v-icon {
        width: 30px;
    }

    .amxd-dashboard-button:focus:after {
        border: none;
        box-shadow: none;
    }

    .amxd-container-disabled {
        opacity: 0.7;
    }

    .amxd-container-disabled .v-button:hover:after {
        background: none;
    }

    .amxd-container-disabled .v-button:active:after {
        background: none;
    }

    .v-ddgridlayout-over {
        margin-left: 10px;
        margin-top: 10px;
    }

    .v-tree-node-not-available span {
        color: #b7b7b7;
        text-decoration: line-through;
    }

    .amxd-tree-selected {
        border: 2px solid $v-selection-color;
        border-radius: 3px;
    }

    .amxd-dashboard-disabled .amxd-tree-selected {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .amxd-dashboard-disabled .amxd-shadow-border {
        box-shadow: none;
        border: none;
    }

    .amxd-layout-controls {
        position: absolute;
        right: 0;
        background: black;
        border-bottom-left-radius: 5px;
        opacity: 0.7;
        z-index: 10;
        display: none;
    }

    .amxd-tree-selected > .amxd-layout-controls {
        display: inline-block;
    }

    .amxd-dashboard-disabled .amxd-tree-selected > .amxd-layout-controls {
        display: none;
    }

    .v-csslayout.amxd-shadow-border {
        position: relative;
    }

    .amxd-layout-controls .v-button {
        color: white;
        border: none;
        box-shadow: none;
        background: none;
    }

    .amxd-layout-content .v-gridlayout-spacing-on {
        padding-left: 5px;
        padding-top: 5px;
    }

    .v-tree-node-caption.v-drag-element {
        padding: 2px 0px 0px 14px;
        width: initial !important;
    }

    .v-tree-node-caption.v-drag-element>div:before {
        content: none;
    }
}