/* Define your theme modifications inside next mixin */
@mixin com_audimex_dashboard-halo-ext {
    .dd-bordering {
        box-shadow: inset 0 0 10px #e0e0e0;
    }
    .dd-palette-button {
        background: none;
        border: 2px dashed #b5b5b5;
        color: #4e4e4e;
        border-radius: 4px;
        text-align: left;
        font-size: 24px;
        box-shadow: none;
    }
    .dd-palette-button:after {
        border: none;
    }
    .dd-palette-button .v-icon {
        width: 30px;
    }
    .dd-palette-button:focus:after {
        border: none;
        box-shadow: none;
    }
    .dd-container-disabled {
        opacity: 0.7;
    }
    .dd-container-disabled .v-button:hover:after {
        background: none;
    }
    .dd-container-disabled .v-button:active:after {
        background: none;
    }
}