<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="audimex-dashboards"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.audimex.dashboard.entity.Dashboard</class>
        <class>com.audimex.dashboard.entity.DashboardWidget</class>
        <class>com.audimex.dashboard.entity.DashboardWidgetLink</class>
        <class>com.audimex.dashboard.entity.WidgetParameter</class>
        <class>com.audimex.dashboard.entity.ReferenceToEntity</class>
    </persistence-unit>
</persistence>
