/* Define your theme modifications inside next mixin */
@mixin com_audimex_dashboard-halo-ext {
    .min-height{
            min-height:100%;
    }

    .amxd-shadow-border {
        box-shadow: inset 0 0 10px #e0e0e0;
        border: 2px solid transparent;
    }

    .amxd-main-shadow-border {
        box-shadow: inset 0 0 10px #e0e0e0;
        border: 2px solid transparent;
    }

    .amxd-grid-cell-shadow-border {
        box-shadow: inset 0 0 5px #e0e0e0;
        border: 2px solid transparent;
    }

    .amdx-left-margin-button {
        margin-left: 50px;
    }

    .amdx-full-margin-button {
        margin: 10px;
    }

    .amxd-dashboard-button {
        background: none;
        border: 2px dashed #b5b5b5 !important;
        color: #4e4e4e;
        border-radius: 4px;
        text-align: left;
        font-size: 24px !important;
        box-shadow: none;
        margin-bottom: 5px;
    }

    .amxd-dashboard-selected-button {
      background: none;
      border: 2px solid $v-selection-color;
      color: #4e4e4e;
      border-radius: 4px;
      text-align: left;
      font-size: 24px !important;
      box-shadow: none;
      margin-bottom: 5px;
    }

    .amxd-dashboard-button .v-button-caption {
        font-weight: 300;
    }

    .amxd-settings-window-label {
        background: #ccc;
        padding: 2px 4px 3px 4px;
        border-radius: 3px;
    }

    .amxd-dashboard-button:after {
        border: none;
    }

    .amxd-dashboard-button .v-icon {
        width: 30px;
    }

    .amxd-dashboard-button:focus:after {
        border: none;
        box-shadow: none;
    }

    .amxd-layout-controls {
        position: absolute;
        right: 0;
        background: black;
        border-bottom-left-radius: 5px;
        opacity: 0.7;
        z-index: 10;
        display: inline-block;
    }

    .amxd-layout-controls .amxd-edit-button {
        display: none;
    }

    .v-csslayout.amxd-shadow-border {
        position: relative;
    }

    .v-csslayout.amxd-shadow-border:focus {
        border: 2px solid $v-selection-color;
        border-radius: 3px;
        display: inline-block;
    }

    .v-csslayout.amxd-shadow-border:focus > .amxd-layout-controls .amxd-edit-button {
        display: inline-block;
    }

    .amxd-layout-controls .v-button {
        color: white;
        border: none;
        box-shadow: none;
        background: none;
    }

    .amxd-layout-controls .amxd-view-button {
        display: none;
    }

    .amxd-main-layout-controls {
        position: absolute;
        left: 0;
        background: black;
        border-bottom-right-radius: 5px;
        opacity: 0.7;
        z-index: 10;
        display: none;
    }

    .amxd-main-layout-controls-show .amxd-main-layout-controls {
        display: inline-block;
    }

    .amxd-main-layout-controls .v-button {
        color: white;
        border: none;
        box-shadow: none;
        background: none;
    }

    .amxd-layout-content .v-gridlayout-spacing-on {
        padding-left: 5px;
        padding-top: 5px;
    }

    .v-tree-node-caption.v-drag-element {
        padding: 2px 0px 0px 14px;
        width: initial !important;
    }

    .v-tree-node-caption.v-drag-element>div:before {
        content: none;
    }
}